<launch>
	<arg name="r_value" default="100"/>
	<arg name="g_value" default="0"/>
	<arg name="b_value" default="100"/>
	<node pkg="turtlesim" type="turtlesim_node" name="turtle">
		<param name="/background_r" value="$(arg r_value)"/>  
		<param name="/background_g" value="$(arg g_value)"/> 
		<param name="/background_b" value="$(arg b_value)"/> 
	</node>
</launch> 
