<?xml version="1.0"?>
<launch>
    <arg name="ns" default="robot1"/>
    <arg name="format" default="xacro" doc="xacro ; urdf"/>
    <arg name="use_gui" default="true"/>
    <arg name="robot_type" value="X3" />
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find yahboomcar_description)/urdf/yahboomcar_X3.gazebo.urdf.xacro ns:=$(arg ns)" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yahboomcar_gazebo)/config/rviz/yahboomcar_X3.rviz"/>
</launch>
