<?xml version="1.0"?>
<launch>
  <arg name="ns" default="robot1"/>
  <arg name="format" default="xarco" doc="xacro ; urdf"/>
  <arg name="robot_type" value="X3" />

  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>

  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
    
  <node name="tf_footprint_base" pkg="tf"   type="static_transform_publisher"   args="0 0 0 0 0 0 base_link base_footprint 40" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find yahboomcar_description)/urdf/yahboomcar_X3.gazebo.urdf.xacro ns:=$(arg ns)" />
 

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model yahboomcar_$(arg robot_type)  -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
      <!-- load the controllers -->
    <!--include file="$(find yahboomcar_gazebo)/launch/control.launch"></include-->
    <node   name="joint_state_publisher"   pkg="joint_state_publisher"    type="joint_state_publisher" />
  <node  name="robot_state_publisher" pkg="robot_state_publisher"  type="robot_state_publisher" />
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yahboomcar_gazebo)/config/rviz/yahboomcar_X3.rviz"/> 
  
</launch>
